* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

.inline {
    display:inline-block;
}

.press {
    color: hotpink;
    text-decoration: underline;
}

.press:hover {
    color: blue;
}

/* for the video */
#dialog1 .video-wrapper {
  width: 100%;
  height: 100%;
}

#dialog1 video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* end of video css */


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
/* end of slideslow css */

a {
    color: inherit;
    text-decoration:none;
}

.container {
    position: relative;
}

.pair1 {
    position: absolute;
    top: 50%;
    left: 20%;
    max-width: 50vw;
    color:rgb(255, 255, 255);
    text-shadow:rgb(255, 0, 170) 0px 0px 21px;
    background: white;
    box-shadow: 0 0 40px 20px white;
}

.pair2 {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 50vw;
    color:rgb(255, 255, 255);
    text-shadow:rgba(21,23,41,1) 0px 0px 21px;
    background: white;
    box-shadow: 0 0 40px 20px white;
}

.pair3 {
    position: absolute;
    top: 60%;
    left: 10%;
    max-width: 50vw;
    color:rgb(255, 255, 255);
    text-shadow:rgb(255, 0, 170) 0px 0px 21px;
    background: white;
    box-shadow: 0 0 40px 20px white;
}

#typed-strings,
#typed-strings2,
#typed-strings3,
#typed-strings4,
#typed-strings5 {
  display: none;
}